<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{subject}}</title>
  </head>
  <body>
    <h1>{{heading}}</h1>
    <p>{{message}}</p>
    <p>To reset your password, please click the link below:</p>
    <p><a href="{{resetLink}}">Reset Password</a></p>
    <p>If you did not request a password reset, please ignore this email or
      contact support.</p>
    <p>Best regards,</p>
    <p>{{senderName}}</p>
  </body>
</html>